label.form-input-message {
    font-size: var(--font-size-6);

    margin-top: 0.35rem;
    margin-bottom: 0;
}

label.form-input-success-message {
    color: var(--text-colour);
}

label.form-input-error-message {
    color: var(--text-error-colour);
}
