@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/thin-italic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/extra-light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/extra-light-italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/light-italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/medium-italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/semibold-italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/ibm-plex-mono/bold-italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

:root {
    --golden-ratio: 1.618;
    --font-size-base: 1rem; /* Usually defaults to 16px. */
    --font-size-6: calc(var(--font-size-base) * 0.75);
    --font-size-5: calc(var(--font-size-base) * var(--golden-ratio));
    --font-size-4: calc(var(--font-size-5) * var(--golden-ratio));
    --font-size-3: calc(var(--font-size-4) * var(--golden-ratio));
    --font-size-2: calc(var(--font-size-3) * var(--golden-ratio));
    --font-size-1: calc(var(--font-size-2) * var(--golden-ratio));

    /* Breakpoints taken from BrowserStack:
     * https://www.browserstack.com/guide/responsive-design-breakpoints
     */
    --width-breakpoint-mobile-xs: 480px;
    --width-breakpoint-mobile-sm: 600px;
    --width-breakpoint-tablet-sm: 768px;
    --width-breakpoint-tablet-lg: 1024px;
    --width-breakpoint-desktop-sm: 1280px;
    --width-breakpoint-desktop-lg: 1440px;

    font-family: 'IBM Plex Mono', monospace;

    --container-padding-size: 1rem;
    --ui-border-size: 1px;

    --primary-colour: hsl(120, 22%, 65%);
    --secondary-colour: hsl(219, 18%, 39%);
    --accent-colour: hsl(160, 11%, 52%);
    --background-colour: hsl(36, 64%, 85%);
    --dark-colour: var(--secondary-colour);
    --light-colour: hsl(0, 0%, 90%);
    --primary-error-colour: hsl(0, 72%, 69%);
    --secondary-error-colour: hsl(0, 100%, 81%);

    --colour-change-factor: 7;

    --ui-z-axis-offset: 5px;

    --text-colour: var(--secondary-colour);

    --text-error-colour: var(--primary-error-colour);
    --background-error-colour: var(--secondary-error-colour);

    --ui-button-colour: var(--primary-colour);
    --ui-border-colour: var(--dark-colour);
    --ui-shadow-colour: var(--dark-colour);

    --ui-button-hover-colour: hsl(from var(--ui-button-colour) h s calc(l + var(--colour-change-factor)));

    --ui-button-box-shadow: 0px var(--ui-z-axis-offset) 0px 0px var(--dark-colour);
}

* {
    color: var(--text-colour);

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-colour);
}

h1 {
    font-size: var(--font-size-1);
}

h2 {
    font-size: var(--font-size-2);
}

h3 {
    font-size: var(--font-size-3);
}

h4 {
    font-size: var(--font-size-4);
}

h5 {
    font-size: var(--font-size-5);
}

p {
    font-size: var(--font-size-base);
}

form {
    display: flex;
    flex-direction: column;

    font-size: 1rem;

    div.form-group {
        display: flex;
        flex-direction: column;

        margin-bottom: 1rem;
    }
}

label {
    margin-bottom: 0.35rem;
}

input, button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    padding: 0.5rem;
}

input {
    border: solid var(--ui-border-size) var(--ui-border-colour);
}

button {
    background-color: var(--ui-button-colour);

    border: solid var(--ui-border-size) var(--ui-border-colour);
    box-shadow: var(--ui-button-box-shadow);

    font-weight: 600;

    cursor: pointer;

    &:active {
        box-shadow: none;
        transform: translateY(var(--ui-z-axis-offset));
    }

    &:hover {
        background-color: var(--ui-button-hover-colour);
    }
}

.container {
    display: flex;
    flex-direction: column;

    max-width: 1200px;

    margin: auto;
    padding: var(--container-padding-size);

    &.full-page {
        min-height: calc(100vh - (var(--container-padding-size) * 2));

        &.centered {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .row {
        display: flex;
        flex-direction: row;

        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .panel {
        h1 {
            font-size: var(--font-size-5);
        }
    }
}

.bold {
    font-weight: 700;
}

.align-right {
    align-items: end;
}
